.containerFiltros {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-right: 8%;
  margin-left: 8%;
  margin-top: 20px;
  margin-bottom: 20px;
  .sort {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    margin-left: 10px;
    .grupoB {
      margin-left: 20px;
      .btnSort {
        padding-left: 20px;
        padding-right: 20px;
        border-color: #6ee8ff;
      }
    }
  }
}

.containerCards {
  margin-top: 25px;
  margin-left: 8%;
  margin-right: 8%;
}



